extends ../layout

block content
  form.form-horizontal(action="/login", method="post")
      .control-group
        label.control-label(for='inputUsername') username
        .controls
          input#inputUsername(type='text', placeholder='username', name="username")
      .control-group
        label.control-label(for='inputPassword') Password
        .controls
          input#inputPassword(type='password', placeholder='Password', name="password")
      .control-group
        .controls
          label.checkbox
            input(type='checkbox')
            | Remember me
          button.btn(type='submit') Login
              //- input.button.btn(type='submit', value='Sign in') 這只能包value
