extends ../layout

block content
  form.form-horizontal
      .control-group
        label.control-label(for='inputEmail') Email
        .controls
          input#inputEmail(type='text', placeholder='Email')
      .control-group
        label.control-label(for='inputPassword') Password
        .controls
          input#inputPassword(type='password', placeholder='Password')
      .controls-group
        label.control-label(for='inputPasswordAgain') password-repeat
        .controls
          input#inputPasswordAgain(type='password', placeholder='Password Repeat')
      .control-group
        .controls
          button.btn(type='submit') Sign up
          //- input.button.btn(type='submit', value='Sign up') 這只能包value